#projects {
    padding: 50px;
    background-color: white;
    color: #19191D;
    height: 100%;
  }

  .project_img {
    filter: opacity(100%);
  }

  .projects_title {
      margin-top: 50px;
  }

  .mooclab_content,
  .phr_content {
    width: 100%;
  }

  .video_title{
    font-family: "Lora";
    font-size: 30px;
    font-weight: 600;
    color: #19191D;
    padding-bottom: 100px;
    display: block;
    padding: 50px;
  }